.imgcontainer {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    border: solid 2px rgba(76, 76, 255, 1);
    background: #131316;
    overflow: hidden;
    top: 0px;
}

.img {
    width: 112px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    z-index: -1;
}

.counter {
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'JetBrains';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    margin: 0;
    padding: 0;
    background: rgba(19, 19, 22, 0.6);
    width: 64px;
    height: 64px;
}