.maincontainerconstr {
    width: 600px;
    min-height: 912px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}


.burgercomponents {
    margin: 100px auto 40px;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}


.constructor_item {
    list-style-type: none;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0;
}

.burgercomponentslist {
    height: 464px;
    overflow-y: scroll;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5px auto 5px -8px;
    width: 100%;
}

.infoconstrictor {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    padding: 0;
    width: calc(100% - 32px);
    align-items: center;
}

.textsumm {
    composes: text text_type_digits-medium from global;
}

.img {
    width: 36px;
    height: 36px;
    margin: 0 0 0 10px;
}

::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;

}

::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}