.editform {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 28px;
    margin: 0;
    padding: 0;
    height: 64px;
}

.cancel {
    color: #4C4CFF;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.cancel:hover {
    color: #4C4CFF;
    opacity: 0.7;
}