.box {
    max-width: 640px;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.item {
    width: 620px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;

}

.item_info {
    width: 540px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.item_total {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.item_name {
    font-family: 'JetBrains';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    margin: 0;
    padding: 0;
}

.boximg {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    border: solid 2px rgba(76, 76, 255, 1);
    background: #131316;
    overflow: hidden;
    top: 0px;
}

.img {
    width: 112px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.item_price {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #F2F2F3;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;

}

::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}