.box {
    min-height: 620px;
    max-width: 640px;
    padding: 0;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
}

.number {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #F2F2F3;
    padding: 0;
    margin: 0 auto 40px;
}

.title {
    font-family: 'JetBrains';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    margin: 0 0 12px;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.status {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'JetBrains';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00CCCC;
}

.ingredients {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 640px;
    height: 366px;
    margin: 24px auto 40px;
}

.subtitle {
    font-family: 'JetBrains';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    margin: 0 auto 24px 0;
    padding: 0;
}

.date {
    font-family: 'JetBrains';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
    margin: 0;
    padding: 0;
}

.infobill {
    min-width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #F2F2F3;
}